<div class="container">
    <div>
        <h1>Chat con websocket</h1>
    </div>
    <div id="caja">

    </div>
    <div>
        <form onsubmit="return addMessage()">
            <div class="mb-3 mt-5">
                <label for="userName" class="form-label">NOMBRE</label>
                <input type="text" class="form-control"  placeholder="Escriba su Nombre"  id="userName" />
                <div class="mb-3 mt-5">
                    <label for="textName" class="form-label">TEXTO</label>
                    <textarea class="form-control" id="textName"  placeholder="Tu mensaje" cols="30"  rows="10"></textarea>
                </div>
            </div>    
                <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>